.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_store
*.Rproj
*.xlsx
*.log
*.synctex
*.csv
*.tex
*.log
*.Rproj
*.Rdata
*.sqlite
*.db
*.gz
*.pdf
*.png
*.jpeg
*.toc
*.suntex
*.aux
*.out
*.wav
*.rda
*.yaml
*(busy)
cache/*
!papers/*.pdf
!data/*.csv
!images/*.*